
 /*Small devices (tablets)*/
@media screen and (min-width: 576px) {
	/* Css rules */
 }

/*Medium devices (laptops)*/
@media screen and (min-width: 768px){
	/* Css rules */
}

/* Large devices (Desktops) */
@media screen and (min-width: 992px) {
	/* Css rules */
}

/*Extra large devices (Large Desktops) */
@media screen and (min-width: 1200px) {
	/* Css rules */
}

body{
	background-color: #fcd303;
}

h1, h3{
	background-color: white;
	text-align: center;
	margin: 0px;
	padding: 0px;
	font-family: Amarante;
}

h4{
	padding: 20px;
}

.result-image{
	padding-top:20px;
	padding-bottom: 40px;
	width: 100%;
	border-radius: 3px;
}


.teachers-image{
	padding-top: 10px;
	width: 100%;
	border-radius: 3px;
}

h3{
	padding: 10px;
	margin-bottom: 10px;
	font-family: Amarante;
}

h2{
	background-color: white;
	text-align: center;
	padding: 10px;
	margin-bottom: 20px;
	border-radius: 3px;
	font-family: Amarante;
}

.about-us{
	padding: 8px;
	font-family: Poppins;
}

#fees{
	width: 100%;
	border: 1px solid black;
	border-collapse: collapse;
	text-align: center;
	margin-bottom: 80px;
	font-family: Poppins;
}

#faculties{
	width: 100%;
	border: 1px solid black;
	border-collapse: collapse;
	text-align: center;
	margin-bottom: 70px;
	font-family: Poppins;
}

td{
	padding: 8px;
	border: 1px solid black;
}

th{
	padding: 8px;
	border: 1px solid black;
	font-family: Amarante;
	font-weight: 7px;
	font-size: 30;
}

img{
	margin-bottom: 50px;
}

p{
	margin-bottom: 50px;
}
 